.primary-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2f0f5d;
  overflow: hidden;
}

.nav-dp-cont {
  padding-top: 8px;
}
.dp {
  width: 42px;
  height: 42px;
  border-radius: 50px;
}
